*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #f3e5f5, #ffffff);
    padding: 10px;
}
.todo-list{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 20px 0;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.study-timer{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 20px 0;
    padding: 40px 30px 70px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center; 
    justify-content: center; 
    text-align: center; 
}

.todo-list h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.study-timer h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.calculator h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f6f6f6;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
#input-box{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}
.todo-list button{
    border: none;
    outline: none;
    padding: 16px 40px;
    background: #B19CD9;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/circle5.png);
    background-size: cover;
    background-position: center;
    top: 11px;
    left: 10px;

}

ul li.checked{
    color: #555;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(images/checked.png)
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #555;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}

.timer__part{
    font-size: 40px;
    font-weight: bold;
}

.timer__btn{
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 50%;
    border: none;
    color: gray;
    cursor: pointer;

}

.timer__btn--start{
    background-color: #aad99c;
}

.timer__btn--stop{
    background-color: #ee8787;
}
.calculator{
    background-color: #f8f8f8;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(235, 234, 234, 0.16);
    display: grid;
    grid-template-columns: repeat(4, 68px);
    
}

#outputscreen{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    color: rgba(70,70,70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
}
.calculator button{
    height: 48px;
    width: 48px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                 5px  5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 50%;
    margin: 8px;
    font-size: 16px;     
}
.calculator .equal{
    width: 115px;
    border-radius: 40px;
    background-color: #ecf0f3;
    box-shadow: -5px -5px 12px #ffffff,
                 5px  5px 12px rgba(0,0,0,.1.6);
}
